.cyrqt { 
  font-size: 95px;
  padding-left: 98px;
  border-right-width: 76px;
  padding-right: 18px;
  padding-right: 69px;
  line-height: 6px;
  border-top-width: 97px;
  border-left-width: 20px;
  font-size: 17px;
  padding-right: 15px;
  padding-right: 59px;
  border-left-width: 28px;
  border-left-width: 73px;
  padding-bottom: 82px;
  line-height: 48px;
  padding-top: 94px;
  margin-left: 53px;
  font-size: 75px;
  border-right-width: 14px;
  padding-right: 91px;
  line-height: 80px;
  line-height: 99px;
  padding-top: 40px;
  margin-bottom: 65px;
  padding-bottom: 65px;
  margin-right: 4px;
  border-top-width: 12px;
  padding-left: 89px;
  padding-left: 90px;
  padding-bottom: 31px;
  padding-right: 43px;
  margin-bottom: 19px;
  padding-left: 93px;
  padding-bottom: 5px;
  margin-right: 50px;
  margin-left: 84px;
  padding-top: 39px;
  padding-left: 51px;
  padding-left: 82px;
  margin-top: 43px;
  line-height: 17px;
  border-top-width: 59px;
  margin-bottom: 87px;
  line-height: 12px;
  padding-right: 36px;
  line-height: 86px;
  font-size: 30px;
  margin-top: 64px;
  border-top-width: 91px;
  border-right-width: 83px;
  border-left-width: 53px;
  padding-left: 85px;
  margin-top: 55px;
  border-right-width: 1px;
  margin-top: 64px;
  padding-left: 14px;
  padding-left: 55px;
  margin-right: 24px;
  padding-top: 75px;
  margin-right: 79px;
  padding-right: 24px;
  margin-top: 56px;
  margin-top: 10px;
  padding-top: 25px;
  padding-left: 46px;
  padding-top: 73px;
  margin-right: 98px;
  margin-bottom: 73px;
  margin-right: 45px;
  margin-bottom: 7px;
  margin-bottom: 46px;
  border-top-width: 97px;
  border-top-width: 4px;
  margin-top: 59px;
  border-bottom-width: 90px;
  font-size: 80px;
  border-bottom-width: 23px;
  border-bottom-width: 78px;
  margin-left: 36px;
  margin-right: 56px;
  margin-top: 55px;
  margin-right: 4px;
  margin-bottom: 84px;
  border-left-width: 46px;
  margin-left: 42px;
  margin-left: 66px;
  margin-bottom: 43px;
  padding-left: 47px;
  border-right-width: 29px;
  margin-left: 14px;
  margin-left: 98px;
  padding-bottom: 58px;
  border-right-width: 40px;
  margin-left: 74px;
  border-right-width: 48px;
  border-top-width: 89px;
  padding-bottom: 98px;
  margin-left: 78px;
  border-top-width: 98px;
  border-top-width: 82px;
  padding-top: 18px;
  border-right-width: 72px;
  border-bottom-width: 38px;
  margin-left: 11px;
  font-size: 80px;
  border-top-width: 47px;
  font-size: 2px;
  padding-top: 37px;
  padding-left: 50px;
  border-top-width: 18px;
  border-bottom-width: 70px;
  margin-top: 50px;
  padding-top: 99px;
  border-top-width: 40px;
  padding-top: 33px;
  border-bottom-width: 55px;
  padding-left: 29px;
  border-bottom-width: 48px;
  margin-left: 98px;
  margin-top: 26px;
  margin-left: 20px;
  padding-right: 29px;
  border-left-width: 55px;
  margin-top: 75px;
  padding-right: 70px;
  padding-bottom: 14px;
  margin-bottom: 83px;
  margin-bottom: 37px;
  padding-right: 77px;
  margin-top: 89px;
  border-top-width: 66px;
  border-bottom-width: 99px;
  padding-left: 60px;
  font-size: 1px;
  margin-bottom: 36px;
  margin-bottom: 20px;
  border-right-width: 26px;
  line-height: 56px;
  margin-right: 51px;
  margin-bottom: 29px;
  border-right-width: 83px;
  margin-top: 52px;
  border-top-width: 5px;
  border-top-width: 44px;
  padding-top: 72px;
  padding-left: 38px;
  border-bottom-width: 97px;
  padding-top: 47px;
  margin-top: 19px;
  padding-right: 51px;
}
